{% extends "base.html" %}

{% load cache i18n seo_tags thumbnail %}

{% block breadcrumbs %}
  <span><a href="{% url index-view %}">{% trans "Home" %}</a> /</span>
  <span><a href="{% url feedback-list %}">{% trans "Feedbacks" %}</a> /</span>
  <h2>{{ feedback.name }}</h2>
{% endblock %}

{% block meta_information %}
  {% cache 500 meta_information LANGUAGE_CODE %}
    <meta name="description" content="{% seo description for feedback %}" />
    <meta name="keywords" content="{% seo keywords for feedback %}" />
    <meta name="title" content="{% seo title for feedback %}">
  {% endcache %}
{% endblock %}

{% block title %}{{ feedback }}{% endblock %}

{% block content %}
  <section class="container bordered details">
    <h2 class="title">{{ feedback.name }}</h2>
    <div class="img_descr">
      {% thumbnail feedback.image '200' as im %}
        <img src="{{ im.url }}" alt="{{ image.page.title }}">
      {% empty %}
        <img src="{{ STATIC_URL }}images/logo_bg.png" alt="" width="200" height="150">
      {% endthumbnail %}
      <p>{{ feedback.description }}</p>
    </div>
  </section>
{% endblock %}
