{% extends "base.html" %}

{% load i18n core_tags thumbnail %}

{% block breadcrumbs %}
  <span><a href="{% url index-view %}">{% trans "Home" %}</a> /</span>
  <h2>{% trans "Feedbacks" %}</h2>
{% endblock %}

{% block extra_head %}
  {% include 'includes/social_scripts.html' %}
{% endblock %}

{% block content %}
<section id="feedback_list" class="container">
  {% if feedbacks %}
  <ul>
    {% for feedback in feedbacks %}
      <li>
        <p class="name_status">
          <a href="{{ feedback.get_absolute_url }}" class="name">{{ feedback.name }}</a><br/>
        </p>
        <a href="{{ feedback.get_absolute_url }}">
          {% thumbnail feedback.image '200' as im %}
            <img src="{{ im.url }}" alt="{{ image.page.title }}">
          {% empty %}
            <img src="{{ STATIC_URL }}images/logo_bg.png" alt="" width="200" height="150">
          {% endthumbnail %}
        </a>
          <p>
            <i>{{ feedback.description|truncatewords:30 }}</i>
          </p>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
</section>
{% endblock %}
