{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
  <span><a href="{% url index-view %}">{% trans "Home" %}</a> ></span>
  <span>{% trans "Feedbacks" %}</span>
{% endblock %}

{% block content %}
<section id="feedback_list" class="container">
  {% if feedbacks %}
  <ul>
    {% for feedback in feedbacks %}
      <li>
        <p class="name_status">
          <a href="{{ feedback.get_absolute_url }}" class="name">{{ feedback.name }}</a><br/>
          <i class="status">{{ feedback.description }}</i>
        </p>
        <a href="{{ feedback.get_absolute_url }}">
          <img src="{{ STATIC_URL }}images/logo_bg.png" alt="" width="200" height="150">
        </a>

        <p>- FeedbackQuestion ?<br/>
          <i>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut"</i>
        </p>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if feedbacks %}
  <ul>
    {% for feedback in feedbacks %}
      <li>
        <a href="{{ feedback.get_absolute_url }}">
          <img src="{{ STATIC_URL }}images/logo_bg.png" alt="" width="200" height="150">
        </a>
        <p class="name_status">
          <a href="{{ feedback.get_absolute_url }}" class="name">{{ feedback.name }}</a><br/>
          <i class="status">{{ feedback.description }}</i>
        </p>

        <p>- FeedbackQuestion ?<br/>
          <i>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut"</i>
        </p>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
</section>
{% endblock %}
