{% extends "flatpages/cooperation.html" %}

{% load i18n flatpages thumbnail %}

{% block flatpage_content %}
    <div class="news_detail_images_box">
      {% with flatpage.images.all as images %}
        {% if images %}
          <div id="news_detail_images">
            <ul>
              {% for image in images %}
                <li>
                  {% thumbnail image.image "800x500" as im_big %}
                    <a class="fancybox" rel="gallery" href="{{ im_big.url }}" title="{{ image.title|default:flatpage.title }}">
                      {% thumbnail image.image "150x100" crop="top" as im %}
                        <img src="{{ im.url }}" alt="{{ image.title|default:flatpage.title }}" />
                      {% endthumbnail %}
                    </a>
                  {% endthumbnail %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endwith %}
    </div>
    {{ flatpage.content|safe }}
{% endblock %}

{% block flatpage_images %}
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/jquery.sudoSlider.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.easing-1.3.pack.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.mousewheel-3.0.6.pack.js"></script>

  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox.css?v=2.0.3" type="text/css" media="screen" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.pack.js?v=2.0.3"></script>
{% endblock %}