{% extends 'base.html' %}

{% load thumbnail i18n %}

{% block title %}{{ news.title }}{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url index-view %}">{% trans "Home" %}</a></li>
  <li><a href="{% url news-list %}">{% trans "News list" %}</a></li>
  <li>{{ news.title }}</li>
{% endblock %}

{% block content %}
  <section class="container bordered">
    <p>{{ news.title }}</p>
    {% if news.date %}
      <p>{{ news.date }}</p>
    {% endif %}
    <p>{{ news.description|safe }}</p>
    <ul>
      {% for image in news.images.all %}
        <li>
          {% thumbnail image.image "100x100" as im %}
            <img src="{{ im.url }}" alt="{{ image.title|default:news.title }}" />
          {% endthumbnail %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
