{% extends 'base.html' %}

{% load thumbnail i18n %}

{% block title %}{{ news.title }}{% endblock %}

{% block extra-head %}
  <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?45"></script>
  <script type="text/javascript">
    VK.init({apiId: 2731286, onlyWidgets: true});
  </script>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=107790869310294";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
{% endblock %}

{% block meta-information %}
  {% if news.meta_keywords %}
    <meta name="keywords" content="{{ news.meta_keywords }}"/>
    <meta name="description" content="{{ news.meta_description }}"/>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <span><a href="{% url index-view %}">{% trans "Home" %}</a> ></span>
  <span><a href="{% url news-list %}">{% trans "News" %}</a> ></span>
  <span>{{ news.title }}</span>
{% endblock %}

{% block content %}
  <div id="fb-root"></div>
  <section class="container bordered">
    <p class="title">{{ news.title }}</p>
    {% if news.date %}
      <p class="date">{{ news.date }}</p>
    {% endif %}
    <p class="text">{{ news.description|safe }}</p>
    <div class="news_detail_images_box">
      {% with news.images.all as images %}
        {% if images %}
          <div id="news_detail_images">
            <ul>
              {% for image in images %}
                <li>
                  {% thumbnail image.image "800x500" as im_big %}
                    <a class="fancybox" rel="gallery" href="{{ im_big.url }}" title="{{ image.title|default:news.title }}">
                      {% thumbnail image.image "150x100" crop="center" as im %}
                        <img src="{{ im.url }}" alt="{{ image.title|default:news.title }}" />
                      {% endthumbnail %}
                    </a>
                  {% endthumbnail %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endwith %}
    </div>
    <div class="social_likes">
      <div id="vk_like"></div>
      <script type="text/javascript">
        VK.Widgets.Like("vk_like", {type: "vertical"});
      </script>
      <div class="fb-like" data-send="false" data-layout="box_count" data-width="450" data-show-faces="true" data-font="lucida grande"></div>
    </div>
  </section>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/jquery.sudoSlider.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.easing-1.3.pack.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.mousewheel-3.0.6.pack.js"></script>

  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox.css?v=2.0.3" type="text/css" media="screen" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.pack.js?v=2.0.3"></script>
{% endblock %}
