{% extends 'base.html' %}

{% load thumbnail i18n %}

{% block title %}{{ news.title }}{% endblock %}

{% block extra-head %}
  {% include 'includes/social_scripts.html' %}
  <meta property="og:title" content="{{ news.title }}" />
  <meta itemprop="description" content="{{ news.short_description }}">
  <meta property="og:type" content="university" />
  {% thumbnail news.main_image "156x156" as im %}
    <meta property="og:image" content="http://{{ request.get_host }}{{ im.url }}" />
  {% endthumbnail %}
{% endblock %}

{% block meta-information %}
  {% if news.meta_keywords %}
    <meta name="keywords" content="{{ news.meta_keywords }}"/>
    <meta name="description" content="{{ news.meta_description }}"/>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <span><a href="{% url index-view %}">{% trans "Home" %}</a> ></span>
  <span><a href="{% url news-list %}">{% trans "News" %}</a> ></span>
  <span>{{ news.title }}</span>
{% endblock %}

{% block content %}
  <section class="container bordered details">
    {% include 'includes/social_html.html' %}
    <p class="title">{{ news.title }}</p>
    <div class="img_descr">
      {% if news.main_image %}
        {% thumbnail news.main_image "250x200" crop="center" as im %}
          <img src="{{ im.url }}" alt="{{ news.title }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% endthumbnail %}
      {% endif %}

      {% if news.date %}
        <p class="date">{{ news.date }}</p>
      {% endif %}
      <p class="text">{{ news.description|safe }}</p>
    </div>
    {% with news.images.all as images %}
      {% if images %}
        <div class="news_detail_images_box">
          <div id="news_detail_images">
            <ul>
              {% for image in images %}
                <li>
                  {% thumbnail image.image "800x500" as im_big %}
                    <a class="fancybox" rel="gallery" href="{{ im_big.url }}" title="{{ image.title|default:news.title }}">
                      {% thumbnail image.image "150x100" crop="center" as im %}
                        <img src="{{ im.url }}" alt="{{ image.title|default:news.title }}" width="{{ im.width }}" height="{{ im.height }}" />
                      {% endthumbnail %}
                    </a>
                  {% endthumbnail %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    {% endwith %}
  </section>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/jquery.sudoSlider.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.easing-1.3.pack.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.mousewheel-3.0.6.pack.js"></script>

  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox.css?v=2.0.3" type="text/css" media="screen" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.pack.js?v=2.0.3"></script>
{% endblock %}
