{% extends "base.html" %}

{% load thumbnail i18n pagination_tags %}

{% block title %}{% trans "News" %} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  <span><a href="{% url index-view %}">{% trans "Home" %}</a> ></span>
  <span>{% trans "News" %}</span>
{% endblock %}

{% block content %}
  <section id="news_list" class="container bordered">
    <ul class="list">
      {% autopaginate news_list 10 %}
      {% for news in news_list %}
        <li>
          <div class="date_stamp">
            <div>
              січ<br/>
              <span>10</span>
            </div>
          </div>
          <div class="img_descr">
            {% thumbnail news.main_image "200x150" crop="center" as im %}
              <img src="{{ im.url }}" alt="{{ product.feed.title|title }}" width="{{ im.width }}" height="{{ im.height }}" />
            {% endthumbnail %}
              <a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
            {% if news.date %}
              <p class="date">{{ news.date }}</p>
            {% endif %}
              <p class="short_description_large">{{ news.short_description }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
  <div class="push"></div>
  {% paginate %}
{% endblock %}
