{% extends "base.html" %}

{% load thumbnail i18n pagination_tags %}

{% block title %}{% trans "News" %} - {{ block.super }}{% endblock %}

{% block content %}

  <ul>
    <li><a href="{% url index-view %}">{% trans "Home" %}</a></li>
  </ul>

  {# TODO add pagination #}
  <ul>
    {% autopaginate news_list 10 %}
    {% for news in news_list %}
      <li>
        <a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
        {% thumbnail news.main_image "50x50" as im %}
          <img src="{{ im.url }}" alt="{{ product.feed.title|title }}" />
        {% endthumbnail %}
      </li>
    {% endfor %}
  </ul>
  {% paginate %}
{% endblock %}
