/*Our css file*/

html, body {
    height: 100%;
    padding: 0 !important;
}
.container  {
  width: 80%;
  margin: 0 auto;
}
.bordered {
  padding: 10px;
  background-color:#F4F4F4;
  border:1px solid #BBB;
  box-shadow: inset 0 0 0 1px #FFF, 1px 1px 0 0 #bbb;;
}
/*Header*/

  /*Main navigation*/

nav {
 background: #393939;
}
nav > ul {
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 597;
  font: bold 17px/40px  Tahoma, Geneva, sans-serif;;
}
nav > ul > li {
  display: inline-block;
  margin-right:-5px;
  vertical-align: middle;
  background: #393939;
  border-left: 1px solid #494949;
  border-right: 1px solid #2B2B2B;
}
nav > ul > li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
  background: #D7D7D7;
  border-left-color: #fff;
  border-right-color: #ddd;
}
nav > ul ul {
  visibility: hidden;
  position: absolute;
  top: 95%;
  left:-1px;
  width:100%;
  margin-top: -1px;
  border: 1px solid;
  border-color: #fff #ddd #ddd #fff ;
  font: bold 11px/1em Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 3px 3px 1px 0 rgba(35, 35, 35, 0.1);
  z-index: 598;
}
nav > ul ul li {
  display: block;
  float: none;
  padding: 0;
  background-color: #eee;
  border: 1px solid transparent;
  border-right: none;
}
nav > ul ul li:hover {

}
nav > ul ul a:hover {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

nav > ul li:hover > ul {
  visibility: visible;
}
nav > ul > li a {
  padding: 5px 30px;
  color: #C5C5C5;
}
  nav > ul a:hover{
    background-color: #d7d7d7;
    color: #333;
  }
nav > ul li:hover > a {
   color: #333;
  }
nav > ul ul li a {display:block;margin-left:-1px;padding:8px;border: 1px solid transparent;color:#555;}

    /*Language buttons*/

#lang {
  float:right;
  padding: 3px 0;
  background: none;
  font: 12px Arial  Tahoma, Geneva, sans-serif;;
}
#lang:hover {
  border-left: 1px solid #494949;
  border-right: 1px solid #2B2B2B;
}
#lang > a:first-child {
  border-radius: 5px 0 0 5px;
  margin-right:0;
  padding-left: 10px;
}
#lang > a:last-child {
  border-radius: 0 5px 5px 0;
  margin-left:-3px;
  padding-right: 10px;
}
#lang a {
  display: inline-block;
  position: relative;
  margin: 2px;
  padding: 0.5em;
  border: 1px solid #614023;
  background-color: #705536;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8a6741), color-stop(100%, #705536));
  background-image: -webkit-linear-gradient(#8a6741,#705536);
  background-image: -moz-linear-gradient(#8a6741,#705536);
  background-image: -o-linear-gradient(#8a6741,#705536);
  background-image: linear-gradient(#8a6741,#705536);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  color:#eee;
  font:13px/17px Tahoma, Geneva, sans-serif;
  text-align: center;
  -webkit-transition:all 0.2s ease-in;
}
#lang a:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7d5d3b), color-stop(100%, #634b30));
  background-image: -webkit-linear-gradient(#7d5d3b,#634b30);
  background-image: -moz-linear-gradient(#7d5d3b,#634b30);
  background-image: -o-linear-gradient(#7d5d3b,#634b30);
  background-image: linear-gradient(#7d5d3b,#634b30);
  border-color: #54381E;
}
#lang a:active, #lang .selected, #lang .selected:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #634b30), color-stop(100%, #7d5d3b));
  background-image: -webkit-linear-gradient(#634b30,#7d5d3b);
  background-image: -moz-linear-gradient(#634b30,#7d5d3b);
  background-image: -o-linear-gradient(#634b30,#7d5d3b);
  background-image: linear-gradient(#634b30,#7d5d3b);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1) inset;
  color:#ccc;
}
#lang a.selected{
  cursor: default;
}
    /*END Language buttons*/

  /*END Main navigation*/

/*END Header*/

/*Breadscrumbs*/

#page_info {
  padding: 10px 0;
  background: #D7D7D7;
  border-bottom: 1px solid #BABABA;
}
.breadcrumbs {
  height: 50px;
  vertical-align: middle;
}
/*END Breadscrumbs*/

/*Content*/

body > article {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px; 
  z-index: 1;
  padding: 20px 0 0;
  border-top: 1px solid white;
  background: #D2D1D0;
  background: -webkit-gradient(linear, 50% 0%, 50% 300, color-stop(0%, #E3E3E2), color-stop(100%, #D2D1D0));
  background: -webkit-linear-gradient(#E3E3E2 0%,#D2D1D0 300px);
  background: -moz-linear-gradient(#E3E3E2 0%,#D2D1D0 300px);
  background: -o-linear-gradient(#E3E3E2 0%,#D2D1D0 300px);
  background: linear-gradient(#E3E3E2 0%,#D2D1D0 300px);
  -pie-background: linear-gradient(#E3E3E2 0%,#D2D1D0 300px);
  behavior: url(/static/js/PIE.htc);
}

  /*Slider*/

#slider_box {
  position: relative;
  float: left;
  width: 600px;
  margin: 0 20px 20px 10%;
  padding: 10px;
}
#slider {
  width:600px;
}
#slider img{
    border:none;
}
#slider ul, #slider li{
    margin:0;
    padding:0;
    list-style:none;
}
#slider li {
    width:600px;
    overflow:hidden;
    position: relative;
}
.caption {
  position:absolute;
  bottom:3px;
  left:0;
  width:600px;
  height:50px;
  text-align:center;
  color:black;
  background:rgba(0,0,0,0.5);
  zoom: 1;
  behavior: url(/static/js/PIE.htc);
}
.caption a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #bbb;
  font: 20px  Tahoma, Geneva, sans-serif;;
}
  .caption a:hover {
    color:#ddd;
  }

  /*END Slider*/

  /*News*/
#news {
  margin-bottom:15px;
  padding: 0;
}
#news ul {
  margin: 10px;
}
#main_news article {
  margin: 20px 10px;
}
#news_list ul li, #news ul li {
  overflow: hidden;
  padding: 10px ;
  border: 1px solid;
  border-color: #fff #fff #D5D5D5 #D5D5D5;
}
#news_list ul li:hover, #news ul li:hover {
  background-color: #eee;
}
#news_list ul li img, #news ul li img {
  float:left;
  margin:0 10px 10px 0;
}
#news_list ul li a, .breadcrumbs li a, .breadcrumbs li {
  font: bold 18px/25px  Tahoma, Geneva, sans-serif;;
}
#news_list ul li .news_date{
  font: 12px  Tahoma, Geneva, sans-serif;;
  color: #333;
  margin: 5px 0;
}
#news_list ul li .news_short{
  font: 16px  Tahoma, Geneva, sans-serif;;
  color: #111;
  margin: 5px 0;
}
  /*END News*/
  /*TABS*/
.tabs {
  float:left;
  width: 20%;
}
#tab_nav {
  height: 36px;
}
#tab_nav li {
  display: inline-block;
  float:left;
}
#tab_nav li a {
  display: block;
  padding: 3px;
  background: #f4f4f4;
  font: 12px/30px arial;
}
#tab_nav li a.active {
  background: #ccc;
}
#tab_content {
  background: #ccc;
}
  /*END TABS*/

/*END Content*/

/*Footer*/

.push {
    height: 100px;
}
footer {
  position: relative;
  height:100px;
  width: 100%;

  background: #232323;
  color: #837E76;
  z-index:2
}
/*END footer*/