/*Our css file*/
html {
  background: url("/static/images/logo_bg_1.png") fixed  10% 150px #e0e0e0 no-repeat;
}
html, body {
  position: relative;
  height: 100%;
  padding: 0 !important;
  font:13px "lucida grande",tahoma,verdana,arial,sans-serif;
}
.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.bordered {
  position: relative;
  background:#f4f4f4;
  border:1px solid #BBB;
  /*box-shadow: inset 0 0 0 1px #FFF, 1px 1px 0 0 rgba(0,0,0,.2);*/
}
/*Header*/
body > header {
  position: relative;
  height: 75px;
  padding-top: 15px;
  border-top: 10px solid #444;
  background: url("/static/images/pattern.png") #f0f0f0 repeat;
  box-shadow: inset 0 2px 5px -1px rgba(0,0,0,.3);
}

  /*Main navigation*/
nav.main {
  position: relative;
  background: #373737;
  background: rgba(0, 0, 0, 0.77);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.78) 0%, rgba(0, 0, 0, 0.70) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.78)), color-stop(100%,rgba(0, 0, 0, 0.70)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.78) 0%, rgba(0, 0, 0, 0.70) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.78) 0%, rgba(0, 0, 0, 0.70) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.78) 0%, rgba(0, 0, 0, 0.70) 100%);
  background: linear-gradient(top, rgba(0, 0, 0, 0.78) 0%, rgba(0, 0, 0, 0.70) 100%);
  -moz-box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
}
.download:after {
  background: #313131;
  background: -moz-linear-gradient(top, #313131 0%, #575757 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#575757));
  background: -webkit-linear-gradient(top, #313131 0%,#575757 100%);
  background: -o-linear-gradient(top, #313131 0%,#575757 100%);
  background: -ms-linear-gradient(top, #313131 0%,#575757 100%);
  background: linear-gradient(top, #313131 0%,#575757 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#f8f8f8',GradientType=0 );*/ /* IE6-9 */
}
nav.main > ul {
  position: relative;
  height: 35px;
  padding-left: 10%;
  font-size: 14px;
  line-height: 35px;
  border-bottom: 1px solid #bbb;
  background: url("/static/images/pattern.png") #f0f0f0 repeat;
}
nav.main > ul > li {
  position: relative;
  display: inline-block;
  float:left;
  vertical-align: middle;
}
nav.main > ul > li:first-child {
  margin-left:95px;
}
nav.main > ul > li:last-child {
  border-right: 1px solid #bbb;
}
nav.main > ul li:hover {
  opacity: 1;
}

nav.main > ul ul {
  visibility: hidden;
  position: absolute;
  top: 35px;
  width:162px;
  border: 1px solid;
  border-color:#bbb ;
  font-size: 12px;
  line-height: 14px;
  opacity: 0;
  box-shadow: 3px 3px 1px 0 rgba(35, 35, 35, 0.1);
  -webkit-transition:opacity 0.2s ease-in;
  -moz-transition:opacity 0.2s ease-in;
  -o-transition:opacity 0.2s ease-in;
  transition:opacity 0.2s ease-in;
  z-index: 3;
}
nav.main > ul ul li {
  position: relative;
  z-index: 4;
}
nav.main > ul ul a:hover, nav.main > ul ul li:hover > a  {
  border-top-color: #fff;
  border-bottom-color: #bbb;
  background: #bbd9ee;
  color: #333;
}
nav.main > ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}
nav.main > ul > li > a {
  display: block;
  margin:0;
  padding:0 15px;
  border-top: 1px solid transparent;
  border-left: 1px solid #bbb;
  color: #666;
  font-weight: bold;
  text-shadow: 0 1px #fff;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}
nav.main ul > li.active > a {
  background: #353535;
  border-top-color:#bbb;
  border-left-color: #fff;
  color: #f4f4f4;
  text-shadow: 0 1px #111;
}
nav.main > ul > li:hover > a {
  position: relative;
  background: #fafafa;
  border-color: #bbb;
  color: #6A8CB0;
  text-shadow: 0 1px #fff;
  z-index: 4;
}
nav.main > ul ul li a {
  display:block;
  padding:7px;
  background-color: #fafafa;
  border: 1px solid transparent;
  color:#666;
  text-shadow:none;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
nav.main ul ul ul {
  position: absolute;
  left:100%;
  top:0;
  width: auto;
}
nav.main .breadcrumbs {

}
  /*Language buttons*/

#lang {
  position: absolute;
  right: 30px;
  top:0;
}
#lang > a:first-child {
  margin-right: -1px;
}
#lang > a:last-child {

}
#lang a {
  display: inline-block;
  position: relative;
  float: left;
  padding: 5px 8px;
  border: 1px solid #777;
  border-top: none;
  background: #444;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
  color:#bbb;
  font-size:13px;
  font-weight: bold;
  line-height: 17px;
  text-align: center;
  text-shadow: 0 1px 0 #000;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
#lang a:hover {
  padding-top: 8px;
  color: #ccc;
}
#lang .selected, #lang .selected:hover {

}
#lang a.selected, .active > a{
  padding-top:10px;
  cursor: default;
  color:#ddd;
}
  /*END Language buttons*/

  /*END Main navigation*/

  /*LOGO*/
.logo {
  display: block;
  height: 60px;
  width: 400px;
  padding-left:95px;
  color: #505050;
  font:bold 20px/50px Georgia, sans-serif;
  background: url("/static/images/emblem_84x56.png") top left no-repeat;
}
.logo:hover {
  color: #505050;
}
.breadcrumbs span a {
  margin: 0 2px;
  font-size:12px;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase;
  color: #6A8CB0;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.breadcrumbs span a:hover {
  text-shadow: 0 0 2px #666;
}
.breadcrumbs h2 {
  padding-bottom: 80px;
  color: #fff;
  font: normal 24px Georgia, 'Times New Roman', serif;
}
  /*End LOGO*/

/*END Header*/

/*Content*/
body > article {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: -345px 10% -70px 140px;
}
body > article#left_column > section {
  position: relative;
  width: 620px;
  margin-bottom: 10px;
}
article#single {
  margin: -250px 10% -70px 10%;
}
article#left_column {
  float:left;
  margin: 20px 10% 0;
  margin-right: 0 !important;
}
article .main_sect img, .img_descr img, #feedback_list img {
  padding: 4px;
  background: #d7d7d7;
  border: 1px solid #bbb;
  box-shadow: inset 1px 1px 0 #bbb;
}
  /*Slider*/

#slider_box {
  width: 600px !important;
  margin: 0 20px 20px 0;
  padding: 10px;
}
#slider {
  z-index: 2;
  width:600px;
  height: 300px;
}
.caption {
  position:absolute;
  bottom:3px;
  left:0;
  width:600px;
  height:50px;
  text-align:center;
  color:black;
  background:rgba(0,0,0,0.5);
 /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);*/
  zoom: 1;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.caption:hover {
  background: rgba(0,0,0,0.8);
}
.caption a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #bbb;
  font-size: 20px;
}
  .caption a:hover {
  color:#ddd;
  }

  /*END Slider*/

  /*Why_fmf*/
#why_fmf {
  padding: 0;
  background: url("/static/images/logo_bg_1.png") fixed 10% 150px #f4f4f4 no-repeat;
}
#why_fmf > h5 {
  padding: 5px;
  background: #444;
  color: #d6d6d6;
  font: bold 18px/20px Georgia, sans-serif;
}
.title_arrow {
  position: relative;
  width: 100%;
  margin: -2px 0 0 -3px;
  padding: 5px 4px;
  background: #8c8179;
  color: #fff;
  font: bold 18px/20px Georgia, sans-serif;
  box-shadow:0 3px 6px -3px rgba(0, 0, 0, 1);
}
.title_arrow.red {background: #c53c50}
.title_arrow.green {background: #72a56c}
.title_arrow.blue {background: #425972}


  /*END Why_fmf*/

  /*Feedbacks*/
#feedbacks {
  background: rgba(255,255,255,.6);
}
#feedbacks .streamer_slider{
  height: 260px;
  width: 620px;
  margin:5px 0 20px;
  border-bottom: 1px solid #D5D5D5;
  box-shadow: 0 1px 0 #fff;
}
.streamer_slider ul .img_descr {
  width: 100%;
  margin:0;
  padding:8px 0;
  border-bottom: 1px solid #d5d5d5;
  box-shadow:0 1px 0 #fff;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
#feedbacks .streamer_slider ul .img_descr:hover {background:rgba(163,28,47,.05)}
#events .streamer_slider ul .img_descr:hover {background:rgba(34,57,42,.05)}
#news .streamer_slider ul .img_descr:hover {background:rgba(82,133,46,.05)}

.streamer_slider ul .img_descr > * {
  display: block;
  margin: 0 10px;
}
#feedbacks .img_descr {
  height: 117px;
}
.status {
  padding: 0 20px;
  color: #888;
}
#feedback_list .status {
  display: block;
  margin-top: -10px;
}
.name_status {
  margin-top:0;
}
#feedbacks ul .img_descr:nth-child(even) img {
  float:right;
}
#feedbacks ul .img_descr:nth-child(even) .name {
  display: block;
  margin-right: 120px;
  text-align:right;
}
#feedback_list ul {
  position: relative;
  margin: 0 0 10px;
  overflow: hidden;
}
#feedback_list ul li {
  float: left;
  width: 29%;
  min-width: 220px;
  margin-left: 1%;
  margin-bottom: 20px;
  padding: 20px 10px;
  background:#f4f4f4;
  border: 1px solid #CDCDCD;
  box-shadow:1px 1px 0 #bbb;
  overflow: hidden;
}
#feedback_list ul li > a {
  display: block;
  text-align: center;
}
#feedback_list ul li > a img {
  box-shadow: inset 1px -1px 0 #bbb;
}
  /*END Feedbacks*/

  /*News*/
#news .streamer_slider {
  height: 314px !important;
}
.show_all {
  position: absolute;
  right: 15px;
  display: inline-block;
  margin: 0 15px;
  padding: 5px 15px;
  font-weight: bold;
  z-index: 2;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.show_all a {
  position: relative;
  padding: 4px 10px;
  font-size: 14px;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.main_sect .show_all {
  top:0;
  margin-right: 0;
  text-shadow: 0 1px #555;
}
.main_sect .show_all a{
  border-left: 1px solid rgba(0,0,0,.3);
  color: #eee;
}
.main_sect .show_all a:after {
  position: absolute;
  top: 0;
  left:-2px;
  display: block;
  content:'';
  height: 100%;
  border-left: 1px solid rgba(255,255,255,.3);
}
.main_sect .show_all a:hover {
  color: #fff;
  text-shadow: 0 1px #777;
}
.streamer ul li a, .name {
  margin-right: 10px;
  font-size: 1.2em;
  font-style: italic;
  font-family: "dejavu sans", arial, sans-serif;
  line-height: 20px;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.list {
  margin:10px 10px 0;
}
.list li {
  position: relative;
  text-overflow:ellipsis;
  padding: 10px;
  border: 1px solid;
  border-color: #fff #D5D5D5 #D5D5D5  #fff;
  background: #eee;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
 }
.img_descr {
  overflow: hidden;
}
.img_descr p {
  margin-top:0;
}
.img_descr img {
  float:left;
  margin-right: 10px;
  margin-bottom: 1px;
}
.list li p  {
  margin-left:10px;
}
.list li:hover {
  background: #e5e5e5;
}
#main_news article {
  margin: 20px 10px;
}
.bookmark {
  position: absolute;
  right: -7px;
  top:10px;
  width: 40px;
  height: 15px;
  background: #90e190;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 1px 0 0 #bbb;
}
.bookmark:after {
  position: absolute;
  display: block;
  content:'';
  right:0;
  top:15px;
  border:solid transparent;
  border-width: 0 0 7px 6px;
  border-left-color: #00bf1c;
}

#news_list ul li a {
  margin: 10px 0;
}
#news_list, #events_list {
  padding-bottom: 30px;
}
#news_list ul li .img_descr > a, #events_list ul li .img_descr > a {
  display: block;
  margin-right: 60px;
  font:bold italic 16px/25px "DejaVu Sans", arial, sans-serif;
}
.date{
  color: #BB9D59;
 }
.date_stamp {
  position: absolute;
  top: -1px;
  right: 15px;
  padding: 5px;
  border:1px solid;
  border-color: #f4f4f4 #d5d5d5 #fff #fff;
  border-top: none;
  background-color: #f4f4f4;
}
.date_stamp > div {
  height: 35px;
  width: 45px;
  padding: 3px 0 0;
  background-color: #4384C4;
  border: 1px solid;
  border-color:#4f9ae3 #306294 #306294 #4f9ae3;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  line-height: 1.4em;
}
.date_stamp > div span{
  font-size: 15px;
}
.short_description {
  margin:5px 0 0 10px;
  color: #7D7D7D;
}
.short_description_large{
  font-size: 15px;
  color: #555;
}
.details {
  overflow: hidden;
  padding: 10px;
}
.details > img {
  float: left;
  margin-right: 10px;
}
.details .title {
  margin: 10px 0 10px 20px;
  color: #363636;
  font: normal 1.7em/1.36 Georgia, "Times New Roman", serif;
}

  /*News slider*/
.news_detail_images_box {
    position: relative;
    width: 750px;
    height: 100px;
    margin: 20px auto 10px;
}
.news_detail_images_box #controls .prevBtn {
  left:0;
  top:25px;
}
.news_detail_images_box #controls .nextBtn {
    left:711px;
    top:25px;
}
#news_detail_images {
    width: 750px;
    overflow:hidden;
}
#news_detail_images li, #news_detail_images img {
  width:150px;
}
#news_detail_images ul, #news_detail_images li {
  position:relative;
  margin:0;
  padding:0;
  list-style:none;
  display:block;
}
      /*END News slider*/
  /*END News*/

  /*Events*/
aside {
  margin:20px 10% 0;
}
aside > section {
  min-width: 285px;
  margin-left:640px;
  margin-bottom: 10px;
}
.streamer {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.streamer .date {
  margin:0 40px 0 0;
  text-align: right;
}
.title_list {
  margin: 0;
  padding:0 10px;
  color: #f0f0f0;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 1px #555;
}
#events .streamer_slider, #news .streamer_slider {
  height: 362px;
  margin:5px 0 20px;
  border-bottom: 1px solid #D5D5D5;
  box-shadow: 0 1px 0 #fff;
}
#events .streamer_slider .img_descr > a, #news .streamer_slider .img_descr p > a{
  display: block;
  height: 40px;
  overflow: hidden;
}
#events .short_description, #news .short_description{
  height: 48px;
  margin-left:20px;
  overflow: hidden;
  line-height: 16px;
}
  /*END Events*/

 /*Flatpages*/
.flatpage {
  overflow: hidden;
  margin-left: 310px;
  padding: 10px;
  background: url("/static/images/logo_bg_1.png") fixed  10% 150px #fafafa no-repeat;
}
.flatpage table{
  margin: 20px;
  background:#e5e5e5;
  color:#333;
}
.flatpage table,.flatpage table tbody,.flatpage table tr,.flatpage table td {
  text-align: left;
  border-color: #bbb;
}
.flatpage > p > img {
  margin: 5px 25px;
}
.flatpage ul {
  padding-left:40px;
  list-style-type: disc;
}
.left_sidebar {
  float: left;
  margin-right: 0;
  margin-top: -60px;
}
.left_sidebar > section {
  width: 290px;
  margin: 0 20px 20px 0;
  border-top: none;
  background: url("/static/images/logo_bg_1.png") fixed 10% 150px #FAFAFA no-repeat;
}
.left_sidebar .side_nav ul li a {
  display: block;
  margin-bottom: 2px;
  padding: 10px;
  font:bold 16px Helvetica, Arial, sans-serif;
  color:#777;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.left_sidebar .side_nav ul li a:hover {
  background: rgba(0,0,0,.1);
}
.left_sidebar .side_nav {
  border-top: 4px solid #A51C30;
}
.left_sidebar .side_nav ul li.active_article a {
  background: #63212B;
  color: #eee;
}
.fixed_sidebar {
  position: fixed;
  top:50px;
  margin-top: 0;
}
.selected_title {
  color:green;
  background: #aaa;
}
.entrants_images_box {
  position: relative;
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  z-index: 1;
}
.entrants_images_box .prevBtn,.entrants_images_box .nextBtn {
  top:200px;
}
.entrants_images_box .controls {
  display: none;
}
#entrants_images_nav {
  width:850px;
  height:120px;
  margin:0 auto;
  overflow:hidden;
  z-index:5;
}
#entrants_images_nav .customBox{
  width:9999px;
  height:120px;
  background:#bababa;
}
#entrants_images_nav .customBox .custom{
  height:120px;
  width:160px;
  margin:2px;
  float:left;
  background:grey;
  padding:3px;
}
#entrants_images {
  z-index: 2;
  width:600px;
}
#entrants_images img{
  border:none;
}
entrants_images ul, #entrants_images li{
  margin:0;
  padding:0;
  list-style:none;
}
#entrants_images li {
  width:600px;
  overflow:hidden;
}

/*
#entrants_images_nav {
  width:210px;
  height:40px;
  position:absolute;
  top:150px;
  left:100px;
  overflow:hidden;
}
#entrants_images_nav .customBox {
  width:350px;
  height:40px;
  background:#bababa;
}
#entrants_images_nav .customBox .custom {
  display: block;
  height:30px;
  width:60px;
  margin:2px;
  float:left;
  background:grey;
  padding:3px;
}
*/

 /* END Flatpages*/

/*END Content*/

/*Footer*/
footer {
  position: relative;
  height:100px;
  width: 100%;
  padding: 20px 0 0;
  background: #333;
  color: #837E76;
  z-index:2;
  clear: both;
}
.push_top {
  height: 285px;
}
.push_bottom {
  height: 90px;
}
.toTop_button .toTop {
  position: fixed;
  display: none;
  bottom:50px;
  right:30px;
  width: 70px;
  height: 25px;
  background: url("/static/images/toTop.png") 0 0 no-repeat;
  z-index: 999;
  opacity: .6;
}
.toTop_button .toTop.toTop_fixed {
  position: absolute;
  bottom:140px;
}
.toTop_button .toTop:hover {
  opacity: 1;
}
.toTop_button .uk {
  background-position: 0 0;
}
.toTop_button .en {
  background-position: -70px 0;
}
footer .social {
  position: absolute;
  top:10px;
  right:10%;
  height: 41px;
}
footer .social a {
  position: relative;
  display: inline-block;
  height: 33px;
  width: 33px;
  margin: 5px;
  border-radius: 6px;
  text-indent:-9999px;
  background: url("/static/images/soc/social.png") no-repeat;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.social a span {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: url("/static/images/soc/social.png") no-repeat;
  background-position: -50px 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.social a:hover {
  /*box-shadow: 0 0 7px 1px #000;*/
}
.social a:hover span {
  opacity: 1;
}
footer .social a.fb {
  background-position: 0 0;
}
footer .social a.fb span{
  background-position: 0 -34px;
}
footer .social a.tw {
  background-position: -34px 0;
}
footer .social a.tw span{
  background-position: -34px -34px;
}
footer .social a.vk {
  background-position: -68px 0;
}
footer .social a.vk span{
  background-position: -68px -34px;
}
footer li {
  display: block;
  float: left;
  width: 25%;
  color: #ccc;
}
footer li p {
  padding-bottom: 10px;
}
footer li p strong {
  font-size: 1.1em;
}
footer li a, footer li p {
  color: #bbb;
}
footer li a:hover {
  color: #ddd;
}
/*END footer*/

/*MEDIAQUERIES*/

@media screen and (max-width: 1220px) {
  .flatpage {
    min-width: 400px;
    padding: 10px;
    background: url("/static/images/logo_bg_1.png") fixed 10% 150px #FAFAFA no-repeat;
  }
  nav > ul > li:first-child {
    margin-left:5%;
  }
  .container {
    width: 90%;
  }
  aside {
    margin:20px 5% 0;
  }
  article#left_column,body > article {
    margin-left: 5%;
    margin-right: 5%;
  }
}
/*Fonts*/
@font-face {
  font-family: 'Anastasiascript';
  src: url('/static/fonts/anastasiascript.eot');
  src: url('/static/fonts/anastasiascript.eot?#iefix') format('eot'),
  url('/static/fonts/anastasiascript.woff') format('woff'),
  url('/static/fonts/anastasiascript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Fonts*/
.cool_text {
  color: #333;
  text-shadow: 0 1px 1px #ccc;
  text-align: center;
  font:34px 'Anastasiascript', Arial, sans-serif;
}
.download {
  position: relative;
  display: inline-block;
}
.download:after {
  display: block;
  content:'▼';
  position: absolute;
  top:-10px;
  right:-80px;
  border-radius: 4px;
  font-size: 15px;
  color:#d1d2d0;
  text-shadow: 1px 1px white, -1px -1px #444;
  padding:3px 10px;
  border:1px solid;
  border-color: #527d35;
}
.social_likes_box {
  position: relative;
  height: 37px;
}
.social_likes {
  position: absolute;
  width: 315px;
  height: 23px;
  right: 60px;
  padding: 5px 10px;
  background: #d7d7d7;
  border:1px solid #bababa;
  box-shadow: 0 0 0 1px white;
}
.social_likes div {
  float: left;
}
#vk_like {
  float:right;
  top:-20px;
}
#name {
  display: none;
  height: 25px;
  background: #313131;
}
#name h1 {
  font:bold 15px/25px Georgia serif;
  color:#ccc;
}
#stop_snow {
  display: block;
  position: absolute;
  top: 50px;
  right: 10%;
  padding: 10px;
  background: #0099FF;
}
/*Contacts*/
#contact {
  float:left;
  margin-right:20px;
}
#contact table tr td {
  padding: 5px 0;
}
#map {
  min-width: 300px;
  margin-left: 395px;
}
#map_canvas {
  height:400px;
  /*border:5px solid #313131;*/
}
#loading {
  width: 350px;
}
#loading img {
  padding-right:300px;
}