/*Our css file*/

html, body {
  height: 100%;
  padding: 0 !important;
  background: #d7d7d7;
  font:13px "lucida grande",tahoma,verdana,arial,sans-serif;
}
body {
/*  background: -webkit-gradient(linear, 50% 36, 50% 136, color-stop(0%, #E3E3E2), color-stop(100%, #d7d7d7));*/
  background: -webkit-linear-gradient(#d7d7d7 0%,#d7d7d7 89px,#E3E3E2 89px,#d7d7d7 136px);
  background: -moz-linear-gradient(#d7d7d7 0%,#d7d7d7 89px,#E3E3E2 89px,#d7d7d7 136px);
  background: -o-linear-gradient(#d7d7d7 0%,#d7d7d7 89px,#E3E3E2 89px,#d7d7d7 136px);
  background: linear-gradient(#d7d7d7 0%,#d7d7d7 89px,#E3E3E2 89px,#d7d7d7 136px);
}
.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.bordered {
  position: relative;
  background:#F4F4F4;
  border:1px solid #BBB;
  box-shadow: inset 0 0 0 1px #FFF, 1px 1px 0 0 #bbb;
}
/*Header*/
body > header {
  position: relative;
  height: 51px;
  margin-bottom:20px;
  padding-top: 36px;
  border-bottom: 1px solid #bababa;
}
body > header:after {
  position: absolute;
  display:block;
  content:'';
  width: 100%;
  height:0px;
  bottom:-2px;
  border-bottom: 1px solid #fff;
}

  /*Main navigation*/
nav {
  position: absolute;
  top: 0;
  width: 100%;
}
nav,footer, .download:after {
  background: #313131; /* Old browsers */
  background: -moz-linear-gradient(top, #313131 0%, #575757 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#575757)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #313131 0%,#575757 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #313131 0%,#575757 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #313131 0%,#575757 100%); /* IE10+ */
  background: linear-gradient(top, #313131 0%,#575757 100%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#575757',GradientType=0 );*/ /* IE6-9 */
}
nav > ul {
  width: 80%;
  margin: 0 auto;
  position: relative;
  font-size: 18px;
  line-height: 35px;
}
nav > ul > li {
  position: relative;
  display: inline-block;
  float:left;
  vertical-align: middle;
  border-left: 1px solid #5a5a5a;
  border-right: 1px solid #2a2a2a;
  border-top: 1px solid #2a2a2a
}
nav > ul > li:first-child, .page_info span:first-child {
  margin-left:95px;
}
nav > ul > li.active, nav > ul > li.active:hover {
  border-color: #d7d7d7;
  background: #d7d7d7;
}
nav > ul li:hover {
  position: relative;
  cursor: default;
  background-color: #E8E8E8;
  border-left-color: #fff;
  border-right-color: #eee;
  border-top-color: #ddd;
  opacity: 1;
}

nav > ul ul {
  visibility: hidden;
  position: absolute;
  top: 95%;
  left:-1px;
  width:100%;
  margin-top: -1px;
  border: 1px solid;
  border-color: #fff #ddd #ddd #fff ;
  font-size: 12px;
  line-height: 14px;
  opacity: 0;
  box-shadow: 3px 3px 1px 0 rgba(35, 35, 35, 0.1);
  z-index: 3;
  -webkit-transition:opacity 0.2s ease-in;
  -moz-transition:opacity 0.2s ease-in;
  -o-transition:opacity 0.2s ease-in;
  transition:opacity 0.2s ease-in;
}
nav > ul ul li {
  position: relative;
  display: block;
  float: none;
  padding: 0;
  background: #eee;
  border: 1px solid transparent;
  border-right: none;
  opacity: .95;
  z-index: 3;
  -webkit-transition:opacity 0.2s ease-in;
  -moz-transition:opacity 0.2s ease-in;
  -o-transition:opacity 0.2s ease-in;
  transition:opacity 0.2s ease-in;
}
nav > ul ul a:hover, nav > ul ul li:hover > a {
  border-top-color: #fff;
  border-bottom-color: #fff;
  cursor: pointer;
  background: #bbd9ee;
  color: #333;
}
nav > ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}
nav > ul > li > a {
  padding: 7px 30px;
  color: #eee;
  text-shadow: 0 -1px #000;
}
nav > ul > li:hover > a, nav ul > li.active > a{
  color: #333;
  background: #e8e8e8;
  text-shadow: 0 1px #e7e7e7;
}
nav ul > li.active > a{
  background: #d7d7d7;
}
nav > ul ul li a {
  display:block;
  margin-left:-1px;
  padding:7px;
  background-color: #eee;
  border: 1px solid transparent;
  color:#666;
  text-shadow:none;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
nav ul ul ul {
  position: absolute;
  left:100%;
  top:0;
  width: auto;
}
  /*Language buttons*/

#lang {
  position: absolute;
  left:90%;
  top:3px;
  border: 1px solid;
  border-color: #2B2B2B #2B2B2B #494949 #494949;
  font-size: 12px;
}
#lang > a:first-child {
  border-radius: 5px 0 0 5px;
  margin-right:0;
  padding-left: 10px;

}
#lang > a:last-child {
  border-radius: 0 5px 5px 0;
  margin-left:-4px;
  padding-right: 10px;

}
#lang a {
  display: inline-block;
  position: relative;
  margin: 2px;
  padding: 4px;
  border: 1px solid #616161;
  background: #707070;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8a8a8a), color-stop(100%, #707070));
  background: -webkit-linear-gradient(#8a8a8a,#707070);
  background: -moz-linear-gradient(#8a8a8a,#707070);
  background: -o-linear-gradient(#8a8a8a,#707070);
  background: linear-gradient(#8a8a8a,#707070);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  color:#eee;
  font-size:13px;
  line-height: 17px;
  text-align: center;

}
#lang a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7d7d7d), color-stop(100%, #636363));
  background: -webkit-linear-gradient(#7d7d7d,#636363);
  background: -moz-linear-gradient(#7d7d7d,#636363);
  background: -o-linear-gradient(#7d7d7d,#636363);
  background: linear-gradient(#7d7d7d,#636363);;
  border-color: #545454;

}
#lang a:active, #lang .selected, #lang .selected:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #636363), color-stop(100%, #7d7d7d));
  background: -webkit-linear-gradient(#636363,#7d7d7d);
  background: -moz-linear-gradient(#636363,#7d7d7d);
  background: -o-linear-gradient(#636363,#7d7d7d);
  background: linear-gradient(#636363,#7d7d7d);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1) inset;
  color:#ccc;

}
#lang a.selected, .active > a{
  cursor: default;
}
  /*END Language buttons*/

  /*END Main navigation*/

  /*Page_info*/
.page_info {

}
.page_info, .page_info > .container {

}
.page_info span, .title {
  margin: 0 2px;
  font-weight:bold;
  font-size:15px;
  line-height: 50px;
  color:#333;
  text-shadow:0 1px #e7e7e7;
  -webkit-transition:all 0.2s ease-in;
}
.page_info span:first-child {
  font-family: Georgia, sans-serif;
  font-size: 20px;
}

.page_info span a:hover {
  text-shadow: 0 0 10px #fff;
}
#logo_block {
  position: absolute;
  top:-17px;
  height: 90px;
  width: 90px;
  overflow: hidden;
}
#logo_bg {
  position: relative;
  width: 110px;
  height: 84px;
  margin-left:-10px;
  margin-right:-10px;
  background: #d7d7d7;
  border-bottom:1px solid #bababa;
  border-radius: 60px/43px;
  text-align: center;
  z-index: 9;
}
#logo_bg:after {
  display: block;
  content:'';
  position: absolute;
  top:1px;
  width: 100%;
  height: 100%;
  border-bottom:1px solid #fff;
  border-radius: 60px/43px;
  z-index: -1;
}
#logo {
  margin-top:15px;
}
  /*End Page_info*/

/*END Header*/

/*Content*/
body > article {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -120px;
  margin-top:-108px;
}
body > article > section {
  position: relative;
  width: 620px;
  margin-bottom: 10px;
}
article.left_column {
  float:left;
  margin-left:10%;
}

#content {
  position: relative;
  padding:20px 0;
  border-top:1px solid #fff;
  background: -webkit-gradient(linear, 50% 36, 50% 136, color-stop(0%, #E3E3E2), color-stop(100%, #d7d7d7));
  background: -moz-linear-gradient(#E3E3E2 36px,#d7d7d7 136px);
  background: -o-linear-gradient(#E3E3E2 36px,#d7d7d7 136px);
  background: linear-gradient(#E3E3E2 36px,#d7d7d7 136px);
}

  /*Slider*/

#slider_box {
  width: 600px;
  margin: 0 20px 20px 0;
  padding: 10px;
}
#slider {
  z-index: 2;
  width:600px;
  height: 300px;
}
#slider img{
  border:none;
}
#slider ul, #slider li{
  margin:0;
  padding:0;
  list-style:none;
}
#slider li {
  width:600px;
  overflow:hidden;
  position: relative;
}
.caption {
  position:absolute;
  bottom:3px;
  left:0;
  width:600px;
  height:50px;
  text-align:center;
  color:black;
  background:rgba(0,0,0,0.5);
 /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);*/
  zoom: 1;
  -webkit-transition:background 0.2s ease-in;
  -moz-transition:background 0.2s ease-in;
  -o-transition:background 0.2s ease-in;
  transition:background 0.2s ease-in;
}
.caption:hover {
  background: rgba(0,0,0,0.8);
}
.caption a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #bbb;
  font-size: 20px;
}
  .caption a:hover {
  color:#ddd;
  }

  /*END Slider*/

  /*Why_fmf*/
#why_fmf {
  padding: 0;
  background: url("/static/images/logo_bg.png") 530px 50px no-repeat #F4F4F4;;
  background-size:80px 54px ;
}
#why_fmf > p{
  margin-right: 75px;
}
.title_arrow {
  position: relative;
  width: 100%;
  margin:-5px 0 0 -11px;
  padding: 5px 10px;
  background: #bbd9ee;
  border:1px solid;
  border-color:#c8e9ff #a2bccf #a2bccf #c8e9ff ;
  color: #333;
  font: bold 18px/20px Georgia, sans-serif;
}
.title_arrow:before, .title_arrow:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent;
  bottom: -11px;
}
.title_arrow:before
{ border-width: 0 10px 10px 0;
  border-right-color: #a2bccf;
  left: 0;
}
.title_arrow:after {
  border-width: 0 0 10px 10px;
  border-left-color: #a2bccf;
  right: 0;
}
.title_arrow .arrow {
  position: absolute;
  top:100%;
  right:30px;
  width: 36px;
  height: 0;
  background: #bbd9ee;;
  border-left:1px solid #c8e9ff;
  border-right:1px solid #a2bccf;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.title_arrow .arrow:after {
  position: absolute;
  display:block;
  content:'';
  bottom:-14px;
  right:5px;
  width:25px;
  height:25px;
  background: #bbd9ee;
  border:1px solid;
  border-color: transparent #a2bccf #c8e9ff transparent;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
}
.ie .arrow {
  display:none;
}
.title_arrow .arrow_scaled {
  height: 10px;
}
  /*END Why_fmf*/

  /*Feedbacks*/
#feedbacks {

}
#feedbacks .img_descr {
  margin:10px;
}
#feedbacks .status {
  color: #888;
}
  /*END Feedbacks*/

  /*News*/
.show_all {
  position: absolute;
  right: 15px;
  display: inline-block;
  margin: 0 15px;
  padding: 5px 15px;
  font-weight: bold;
  z-index: 2;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.streamer .show_all, .main_sect .show_all {
  top:0;
  margin-right: 0;
}
.show_all a {
  padding: 5px 0;
  font-size: 14px;
  /*text-shadow: 0 1px #fff;*/
  -webkit-transition:all 0.2s ease-in;
}
.streamer ul li a, .name {
  margin-right: 30px;
  font-size: 1.2em;
  font-style: italic;
  font-family: "dejavu sans", arial, sans-serif;
  -webkit-transition:all 0.2s ease-in;
}
.list {
  margin:20px 10px 0;
}
.list li {
  position: relative;
  text-overflow:ellipsis;
  padding: 10px;
  border: 1px solid;
  border-color: #fff #D5D5D5 #D5D5D5  #fff;
  background: #eee;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
 }
.img_descr {
  overflow: hidden;
}
.img_descr img, .img_descr img {
float:left;
margin-right: 10px;
  }
.list li p  {
  margin-left:10px;
}
#main_news article {
  margin: 20px 10px;
}
.list li:hover {
  background: #e5e5e5;
}
.bookmark {
  position: absolute;
  right: -7px;
  top:10px;
  width: 40px;
  height: 15px;
  background: #90e190;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 1px 0 0 #bbb;
}
.bookmark:after {
  position: absolute;
  display: block;
  content:'';
  right:0;
  top:15px;
  border:solid transparent;
  border-width: 0 0 7px 6px;
  border-left-color: #00bf1c;
}
#news_list ul li img,.list li img {

}
#news_list ul li a {
  margin: 10px 0;
}
#news_list, #events_list {
  padding-bottom: 30px;
}
#news_list ul li a, #events_list ul li a {
  font:bold italic 20px/25px "DejaVu Sans", arial, sans-serif;
}
.date{
  color: #BB9D59;
 }
.date_stamp {
  position: absolute;
  top: -1px;
  right: 15px;
  padding: 5px;
  border:1px solid;
  border-color: #f4f4f4 #d5d5d5 #fff #fff;
  border-top: none;
  background-color: #f4f4f4;
}
.date_stamp > div {
  height: 35px;
  width: 45px;
  padding: 3px 0 0;
  background-color: #bbd9ee;
  border: 1px solid;
  border-color:#c8e9ff #a2bccf #a2bccf #c8e9ff;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  line-height: 1.4em;
}
.date_stamp > div span{
  font-size: 15px;
}
.short_description {
  margin:5px 0 0 10px;
  color: #7D7D7D;
}
.short_description_large{
  font-size: 16px;
  color: #555;
}
.details {
  overflow: hidden;
  padding: 10px;
}
.details > img {
  float: left;
  margin-right: 10px;
}

  /*News slider*/
.news_detail_images_box {
    position: relative;
    width: 750px;
    height: 100px;
    margin: 20px auto 10px;
}
.news_detail_images_box #controls .prevBtn {
  left:0;
  top:25px;
}
.news_detail_images_box #controls .nextBtn {
    left:711px;
    top:25px;
}
#news_detail_images {
    width: 750px;
    overflow:hidden;
}
#news_detail_images li, #news_detail_images img{
  width:150px;
}
#news_detail_images ul, #news_detail_images li{
  position:relative;
  margin:0;
  padding:0;
  list-style:none;
  display:block;
}
    /*END News slider*/
  /*END News*/
  /*Events*/
aside {
  margin:0 10%;
}
aside > section {
  min-width: 285px;
  margin-left:640px;
}
.streamer {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.streamer .date {
  margin:0 40px 0 0;
  text-align: right;
}
.title_list {
  margin: 0;
  padding:0 10px;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 1px #eee;
}
#events {
  overflow: hidden;
}
  /*END Events*/

 /*Flatpages*/
.flatpage {
  overflow: hidden;
  padding: 10px;
  background: url("/static/images/logo_bg.png") 90% 50px  #f4f4f4 no-repeat;
}
.flatpage p, .flatpage ul, .text, .text p {

}
.flatpage table{
  margin: 20px;
  background:#e5e5e5;
  color:#333;
}
.flatpage table,.flatpage table tbody,.flatpage table tr,.flatpage table td {
  text-align: left;
  border-color: #bbb;
}
.flatpage > p > img {
  margin: 5px 25px;
}
.flatpage ul {
  padding-left:40px;
  list-style-type: disc;
}

.entrants_images_box {
  position: relative;
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  z-index: 1;
}
.entrants_images_box .prevBtn,.entrants_images_box .nextBtn {
  top:200px;
}
.entrants_images_box .controls {
  display: none;
}
#entrants_images_nav {
  width:850px;
  height:120px;
  margin:0 auto;
  overflow:hidden;
  z-index:5;
}
#entrants_images_nav .customBox{
  width:9999px;
  height:120px;
  background:#bababa;
}
#entrants_images_nav .customBox .custom{
  height:120px;
  width:160px;
  margin:2px;
  float:left;
  background:grey;
  padding:3px;
}
#entrants_images {
  z-index: 2;
  width:600px;
}
#entrants_images img{
  border:none;
}
entrants_images ul, #entrants_images li{
  margin:0;
  padding:0;
  list-style:none;
}
#entrants_images li {
  width:600px;
  overflow:hidden;
}

/*
#entrants_images_nav {
  width:210px;
  height:40px;
  position:absolute;
  top:150px;
  left:100px;
  overflow:hidden;
}
#entrants_images_nav .customBox {
  width:350px;
  height:40px;
  background:#bababa;
}
#entrants_images_nav .customBox .custom {
  display: block;
  height:30px;
  width:60px;
  margin:2px;
  float:left;
  background:grey;
  padding:3px;
}
*/

 /* END Flatpages*/

/*END Content*/

/*Footer*/
footer {
  position: relative;
  height:100px;
  width: 100%;
  padding: 20px 0 0;
  color: #837E76;
  z-index:2;
  clear: both;
}
.fixed_footer {
  position: fixed;
  bottom: 0;
}
.push_top {
  height: 108px;
  clear:both;
}
.push_bottom {
  height: 140px;
  clear:both;
}
.toTop_button .toTop {
  position: fixed;
  display: none;
  bottom:50px;
  right:30px;
  width: 70px;
  height: 25px;
  background: url("/static/images/toTop.png") 0 0 no-repeat;
  z-index: 999;
  opacity: .6;

}
.toTop_button .toTop:hover {
  opacity: 1;
}
.toTop_button .uk {
  background-position: 0 0;
}
.toTop_button .en {
  background-position: -70px 0;
}
footer .social {
  position: absolute;
  top:10px;
  right:10%;
  height: 41px;
}
footer .social a {
  position: relative;
  display: inline-block;
  height: 33px;
  width: 33px;
  margin: 5px;
  border-radius: 6px;
  text-indent:-9999px;
  background: url("/static/images/soc/social.png") no-repeat;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.social a span {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: url("/static/images/soc/social.png") no-repeat;
  background-position: -50px 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.social a:hover {
  /*box-shadow: 0 0 7px 1px #000;*/
}
.social a:hover span {
  opacity: 1;
}
footer .social a.fb {
  background-position: 0 0;
}
footer .social a.fb span{
  background-position: 0 -34px;
}
footer .social a.tw {
  background-position: -34px 0;
}
footer .social a.tw span{
  background-position: -34px -34px;
}
footer .social a.vk {
  background-position: -68px 0;
}
footer .social a.vk span{
  background-position: -68px -34px;
}
footer li {
  display: block;
  float: left;
  width: 25%;
  color: #ccc;
}
footer li p {
  padding-bottom: 10px;
}
footer li p strong {
  font-size: 1.1em;
}
footer li a, footer li p {
  color: #bbb;
}
footer li a:hover {
  color: #ddd;
}
/*END footer*/

/*MEDIAQUERIES*/

@media screen and (max-width: 1220px) {
  nav > ul > li a {
  padding: 8px 10px;
  color: #DDD;
  }
  .container {
    width: 90%;
  }
  aside {
    margin:0 5%;
  }
  article.left_column {
    margin-left: 5%;
  }
}
/*Fonts*/
@font-face {
  font-family: 'Anastasiascript';
  src: url('/static/fonts/anastasiascript.eot');
  src: url('/static/fonts/anastasiascript.eot?#iefix') format('eot'),
  url('/static/fonts/anastasiascript.woff') format('woff'),
  url('/static/fonts/anastasiascript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Fonts*/
.cool_text {
  color: #333;
  text-shadow: 0 1px 1px #ccc;
  text-align: center;
  font:34px 'Anastasiascript', Arial, sans-serif;
}
.download {
  position: relative;
  display: inline-block;
}
.download:after {
  display: block;
  content:'▼';
  position: absolute;
  top:-10px;
  right:-80px;
  border-radius: 4px;
  font-size: 15px;
  color:#d1d2d0;
  text-shadow: 1px 1px white, -1px -1px #444;
  padding:3px 10px;
  border:1px solid;
  border-color: #527d35;
}
.social_likes_box {
  height: 37px;
}
.social_likes {
  display: inline-block;
  float:right;
  width: 315px;
  height: 23px;
  margin-right: 60px;
  padding: 5px 10px;
  background: #d7d7d7;
  border:1px solid #bababa;
  box-shadow: 0 0 0 1px white;
}
.social_likes div {
  float: left;
}
#vk_like {
  float:right;
  top:-20px;
}
#name {
  display: none;
  height: 25px;
  background: #313131;
}
#name h1 {
  font:bold 15px/25px Georgia serif;
  color:#ccc;
}
#stop_snow {
  display: block;
  position: absolute;
  top: 50px;
  right: 10%;
  padding: 10px;
  background: #0099FF;
}
/*Contacts*/
#contact {
  float:left;
  margin-right:20px;
}
#contact table tr td {
  padding: 5px 0;
}
#map {
  margin-left: 395px;
}
#map_canvas {
  height:400px;
  border:5px solid #313131;
}
#push_top {
  height: 88px;
}
#push_bot {
  height: 120px;
}
