{% extends "flatpages/default.html" %}

{% load i18n flatpages %}

{% block nav %}
  {% with 'about' as active %}
    {% include 'core/nav.html' %}  
  {% endwith %}
{% endblock %}

{% block breadcrumbs %}
  <span><a href="{% url index-view %}">{% trans "Home" %}</a> ></span>
  {% ifequal '/about-the-faculty/' flatpage.url %}
    <span>{{ flatpage.title }}</span>
  {% else %}
    <span><a href="/{{ LANGUAGE_CODE }}/about-the-faculty/">{% trans "About the faculty" %}</a> ></span>
    <span>{{ flatpage.title }}</span>
  {% endifequal %}
{% endblock %}
