{% extends "base.html" %}

{% load i18n thumbnail cache seo_tags %}

{% block meta_information %}
  {% cache 500 meta_information LANGUAGE_CODE %}
    <meta name="description" content="{% seo description for flatpage %}" />
    <meta name="keywords" content="{% seo keywords for flatpage %}" />
    <meta name="title" content="{% seo title for flatpage %}">
  {% endcache %}
{% endblock %}

{% block title %}
   {% trans "FPM" %} - {{ flatpage.title }}
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block breadcrumbs %}
  <span><a href="{% url index-view %}">{% trans "Home" %}</a> > </span>
  <span>{{ flatpage.title }}</span>
{% endblock %}


{% block nav %}
  {% with 'home' as active %}
    {% include 'core/nav.html' %}
  {% endwith %}
{% endblock %}

{% block content %}
  <section id="{{ flatpage.title_en|slugify }}" class="flatpage container bordered">
    {% include 'includes/social_html.html' %}
    {% block flatpage_content %}
      {{ flatpage.content }}
    {% endblock %}
    {% block flatpage_images %}
      {% with flatpage.images.all as images %}
        {% if images %}
          <div class="news_detail_images_box">
            <div id="news_detail_images">
              <ul>
                {% for image in images %}
                  <li>
                    {% thumbnail image.image "800x500" as im_big %}
                      <a class="fancybox" rel="gallery" href="{{ im_big.url }}" title="{{ image.title|default:flatpage.title }}">
                        {% thumbnail image.image "150x100" crop="center" as im %}
                          <img src="{{ im.url }}" alt="{{ image.title|default:flatpage.title }}" width="{{ im.width }}" height="{{ im.height }}" />
                        {% endthumbnail %}
                      </a>
                    {% endthumbnail %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      {% endwith %}
    {% endblock %}
  </section>
{% endblock %}

{% block extra_js %}
  {% if flatpage.images.all %}
    <script src="{{ STATIC_URL }}js/jquery.sudoSlider.js"></script>

    <script src="{{ STATIC_URL }}js/fancybox/jquery.easing-1.3.pack.js"></script>
    <script src="{{ STATIC_URL }}js/fancybox/jquery.mousewheel-3.0.6.pack.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox.css?v=2.0.3" type="text/css" media="screen" />
    <script src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.pack.js?v=2.0.3"></script>
  {% endif %}
{% endblock %}