{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {{ flatpage.title }}
{% endblock %}

{% block extra-head %}
  {% include 'includes/social_scripts.html' %}
{% endblock %}

{% block meta-information %}
  {% if news.meta_keywords %}
    <meta name="keywords" content="{{ flatpage.meta_keywords }}"/>
    <meta name="description" content="{{ flatpage.meta_description }}"/>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <span><a href="{% url index-view %}">{% trans "Home" %}</a> > </span>
  <span>{{ flatpage.title }}</span>
{% endblock %}


{% block nav %}
  {% with 'home' as active %}
    {% include 'core/nav.html' %}
  {% endwith %}
{% endblock %}

{% block content %}
  <section id="{{ flatpage.title_en|slugify }}" class="flatpage container bordered">
    {% include 'includes/social_html.html' %}
    {% block flatpage_content %}
      {{ flatpage.content }}
    {% endblock %}
  </section>
{% endblock %}
