{% extends "flatpages/default.html" %}

{% load i18n flatpages %}

{% block nav %}
  {% with 'entrants' as active %}
    {% include 'core/nav.html' %}  
  {% endwith %}
{% endblock %}

{% block breadcrumbs %}
  <span><a href="{% url index-view %}">{% trans "Home" %}</a> /</span>
  {% ifequal '/entrants/' flatpage.url %}
    <h2>{{ flatpage.title }}</h2>
  {% else %}
    <span><a href="/{{ LANGUAGE_CODE }}/entrants/">{% trans "Entrants" %}</a> /</span>
    <h2>{{ flatpage.title }}</h2>
  {% endifequal %}
{% endblock %}