{% extends "base.html" %}

{% load i18n thumbnail flatpages core_tags %}



{% block article %}

<!--left column-->
  <article id="left_column">

  {% block content %}
  <!--slider-->
    <section id="slider_box" class="bordered">
      <div id="slider">
        <ul>
          {% for image in images %}
            <li>
              {% thumbnail image.image '600x250' crop='center' as im %}
                <img src="{{ im.url }}" alt="{{ image.get_page_title }}">
              {% endthumbnail %}
              <div class="caption"><a href="{{ image.get_page_url|default:"#" }}">{{ image.get_page_title }}</a></div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    <!--end slider-->
  {% endblock %}

  </article>
<!--END left column-->

{% endblock %}

{% block aside_right %}

<!--right column-->
    <aside>

      <!--events-->
      {% comment %}<section id="events" class="bordered main_sect">
        <div class="title_arrow blue">
          <h3 class="title_list">{% trans "Upcoming events" %}:</h3>
          <p class="show_all"><a href="{% url event-list %}">{% trans "All" %} »</a></p>
        </div>
        {% if events %}
          <div class="streamer">
            <div class="streamer_slider">
              <ul>
                {% for event in events %}
                  <li class="img_descr">
                    {#          <div class="bookmark"></div>#}
                    <p class="date">
                      {% ifequal event.date_from event.date_to %}{{ event.date_from }}
                        {% else %}{{ event.date_from }} - {{ event.date_to }}
                      {% endifequal %}
                    </p>
                    <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                    <p class="short_description">{{ event.short_description }}</p>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% else %}
        <p>Put something here if no events</p>
        {% endif %}
      </section>{% endcomment %}
      <!--end of events-->

      <!--news-->
      <section id="news" class="bordered main_sect">
        <div class="title_arrow green">
          <h3 class="title_list">{% trans "Last news" %}:</h3>
          <p class="show_all"><a href="{% url news-list %}">{% trans "All" %} »</a></p>
        </div>
        <div class="streamer">
          <div class="streamer_slider">
            <ul>
              {% for news in news_list %}
                <li class="img_descr">
                  <a href="{{ news.get_absolute_url }}">
                    {% thumbnail news.main_image '75x75' crop='center' as im %}
                      <img src="{{ im.url }}" alt="{{ news.title }}">
                    {% endthumbnail %}
                  </a>
                  <p><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></p>
                  <p class="short_description">{{ news.short_description }}</p>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>
      <!--end news-->
    {% comment %}  {% if feedbacks %}
        <section id="feedbacks" class="bordered main_sect">
          <div class="title_arrow red">
            <h3 class="title_list">Наші студенти :</h3>
            <span class="show_all"><a href="{% url feedback-list %}">{% trans "All" %} »</a></span>
          </div>
          <div class="streamer">
            <div class="streamer_slider">
              <ul>
                {% for feedback in feedbacks %}
                  <li class="img_descr">
                    <a href="{{ feedback.get_absolute_url }}">
                      {% thumbnail feedback.image '80x100' crop='top' as im %}
                        <img src="{{ im.url }}" alt="{{ image.page.title }}">
                      {% endthumbnail %}
                    </a>
                    <p class="name_status">
                      <a href="{{ feedback.get_absolute_url }}" class="name">{{ feedback.name }}</a><br/>
                      <i class="status">{{ feedback.description|truncatewords:40 }}</i>
                    </p>
                  </li>
                {% endfor %}
                <li class="img_descr"></li>
              </ul>
            </div>
          </div>
        </section>
      {% endif %}{% endcomment %}
    </aside>

<!--END right column-->
{% endblock %}

{% block full_width %}

  <div class="container clearfix">
    <!--why_fmf?-->
    <section id="why_fmf" class="bordered main_sect">
      <div class="title_arrow blue">
        <h5>Не впевнений з майбутнім?</h5>
      </div>
      <ul class="numbers-list">
        <li class="first">
          <h3>Поступай до нас!</h3>
          <p><b>95%</b> студентів на бюджеті;</p>
          <p><b>+ 20%</b> до звичайної стипендії;</p>
          <p><b>36/60</b> прохідний бал;</p>
          <p>Є питання? Задай прямо <a href="http://fmf.kpi.ua/contacts"><b>ТУТ »</b></a></p>
        </li>
        <li class="second">
          <h3>Вчись!</h3>
          <p><a href="http://fmf.kpi.ua/sections/pro-fakultet/spetsalnost/"><b>Найкраща</b></a> технічна освіта в Україні;</p>
          <p><a href="http://fmf.kpi.ua/sections/spvprobtnitstvo/"><b>Співробітництво</b></a> з іноземними університетами;</p>
          <p>Веселе <a href="http://studprofkom.kpi.ua/health"><b>cтудентське життя;</b></a></p>
        </li>
        <li class="third">
          <h3>Виходь успішною людиною!</h3>
          <p style="font-weight: bold">Тут не потрібно слів. Ось наші результати :</p>
          <div class="arrow_right"></div>
        </li>
      </ul>
    </section>
    <!--end why_fmf?-->

    <!-- feefbacks -->
    <section class="bordered main_sect">
      <div class="title_arrow red">
        <h3 class="title_list">Students :</h3>
        <span class="show_all">{% trans "All" %} »</span>
      </div>
      <div>
        <div style="height: 200px;" class="feedback-main">
          <div class="feedback-image-main" id="feedback-image-main"></div>
          <div id="feedback-description-main"></div>
        </div>
        <ul class="feedback">
          <li class="active">
            First
            <img src="http://placehold.it/100x100" alt="First">
            <div class="feedback-image" style="display:none;"><img src="http://placehold.it/240x170&text=First" alt="First"></div>
            <div class="feedback-description" style="display:none;">First feedback description</div>
          </li>
          <li>
            Second
            <img src="http://placehold.it/100x100" alt="Second">
            <div class="feedback-image" style="display:none;"><img src="http://placehold.it/240x170&text=Second" alt="Second"></div>
            <div class="feedback-description" style="display:none;">Second feedback description</div>
          </li>
          <li>
            Third
            <img src="http://placehold.it/100x100" alt="Third">
            <div class="feedback-image" style="display:none;"><img src="http://placehold.it/240x170&text=Third" alt="Third"></div>
            <div class="feedback-description" style="display:none;">Third feedback description</div>
          </li>
        </ul>
      </div>
    </section>
    <!-- EO feefbacks -->
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/jquery.sudoSlider.js"></script>
{% endblock %}
