{% extends "base.html" %}

{% load i18n thumbnail flatpages core_tags %}

{% block content %}
  <div class="container">
  <!--slider-->
    <section id="slider_box" class="bordered">
      <div id="slider">
        <ul class="news-slider">
          {% for image in images %}
            <li>
              {% thumbnail image.image '600x300' crop='center' as im %}
                <img src="{{ im.url }}" alt="{{ image.page.title }}">
              {% endthumbnail %}
              <div class="caption"><a href="{{ image.get_url }}">{{ image.page.title }}</a></div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    <!--end slider-->

    <!--why_fmf?-->
    <section id="why_fmf" class="bordered">
      <div class="title_arrow"><div class="arrow"></div>
        <h5>Чому ФМФ?</h5>
      </div>
     <p>Навчання Фізико-Математичному Факультеті є відмінним вибором в якості відправної точки процвітаючою професійної кар'єри. Студенти та аспіранти Математики і Фізики мають творчі, оригінальні і гнучкі розуми. Отже, вони є успішними і популярними в багатьох сферах діяльності, таких як наукові дослідження, освіта, промисловість та фінанси.</p>
    </section>
    <!--end why_fmf?-->

    <aside>
      <!--events-->
      <section class="streamer bordered">
        <div class="title_arrow"><div class="arrow"></div>
          <h3 class="title_list">{% trans "Upcoming events" %}:</h3>
        </div>
        {% if events %}
        <ul class="list">
          {% for event in events %}
          <li>
            <!--TODO: if future event-->
            <div class="bookmark"></div>

            <p class="date">
              {% ifequal event.date_from event.date_to %}{{ event.date_from }}
              {% else %}{{ event.date_from }} - {{ event.date_to }}
              {% endifequal %}
            </p>
            <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
            <p class="short_description">{{ event.short_description|truncatewords:10 }}</p>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>Put something here if no events</p>
        {% endif %}
        <p class="show_all"><a href="{% url event-list %}">{% trans "Announcements" %} »</a></p>
      </section>
      <!--end of events-->
      <!--news-->
      <section class="streamer bordered">
        <div class="title_arrow"><div class="arrow"></div>
          <h3 class="title_list">{% trans "Last news" %}:</h3>
        </div>
{#        {% for feedback in feedbacks %}#}
{#          {% with feedback|get_random_question as result %}#}
{#            {{ result.question }} - {{ result.answer }}#}
{#          {% endwith %}#}
{#        {% endfor %}#}
        <ul class="list">
          {% for news in news_list %}
          <li>
            <div class="img_descr">
              <a href="{{ news.get_absolute_url }}">
                {% thumbnail news.main_image '100x100' crop='center' as im %}
                <img src="{{ im.url }}" alt="{{ news.title }}">
                {% endthumbnail %}
              </a>
              <p><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></p>
              <p class="short_description">{{ news.short_description|truncatewords:15 }}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
        <div class="show_all">
          <a href="{% url news-list %}">{% trans "All news" %} »</a>
        </div>
      </section><!--end news-->

    </aside>
  </div>
  <div class="clearfix"></div>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/jquery.sudoSlider.js"></script>
{% endblock %}