{% extends "base.html" %}

{% load i18n thumbnail flatpages core_tags %}



{% block article %}

<!--left column-->
  <article id="left_column">

  {% block content %}
  <!--slider-->
    <section id="slider_box" class="bordered">
      <div id="slider">
        <ul>
          {% for image in images %}
            <li>
              {% thumbnail image.image '500x250' crop='center' as im %}
                <img src="{{ im.url }}" alt="{{ image.get_page_title }}">
              {% endthumbnail %}
              <div class="caption"><a href="{{ image.get_page_url|default:"#" }}">{{ image.get_page_title }}</a></div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    <!--end slider-->
  {% endblock %}

  </article>
<!--END left column-->

{% endblock %}

{% block aside_right %}

<!--right column-->
    <aside>
      <!--news-->
      <section id="news" class="bordered main_sect">
        <div class="title_arrow green">
          <h3 class="title_list">{% trans "Last news" %}:</h3>
          <p class="show_all"><a href="{% url news-list %}">{% trans "All" %} »</a></p>
        </div>
          <div class="tabbable tabs-below">
            <ul class="nav nav-tabs row-fluid">
              <li class="span3 active"><a href="#A" data-toggle="tab">{% trans "All news" %}</a></li>
              <li class="span3"><a href="#B" data-toggle="tab">{% trans "Dean" %}</a></li>
              <li class="span6 dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Admissions" %} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#C" data-toggle="tab">{% trans "First year" %}</a></li>
                  <li><a href="#D" data-toggle="tab">{% trans "Fifth year" %}</a></li>
                </ul>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active streamer_slider" id="A">
                <ul>
                  {% for news in news_list|slice:"3" %}
                    <li class="img_descr">
                      <span class="date">{{ news.created|date:"d M. Y" }}</span>
                      {% if news.category %}
                        <span class="label label-important fl-r">{{ news.get_category_display }}</span>
                      {% else %}
                        <span class="label fl-r">{% trans "All" %}</span>
                      {% endif %}
                      <a class="news-title" href="{{ news.get_absolute_url }}">{{ news.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="tab-pane streamer_slider" id="B">
                {% with news_list=news_list|from_category:'dean' %}
                  {% if news_list %}
                    <ul>
                      {% for news in news_list %}
                        <li class="img_descr">
                          <span class="date">{{ news.created|date:"d M. Y" }}</span>
                          <a class="news-title" href="{{ news.get_absolute_url }}">{{ news.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <p>{% trans "No news in this category." %}</p>
                  {% endif %}
                {% endwith %}
              </div>
              <div class="tab-pane streamer_slider" id="C">
                {% with news_list=news_list|from_category:'first_year' %}
                  {% if news_list %}
                    <ul>
                      {% for news in news_list %}
                        <li class="img_descr">
                          <span class="date">{{ news.created|date:"d M. Y" }}</span>
                          <a class="news-title" href="{{ news.get_absolute_url }}">{{ news.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <p>{% trans "No news in this category." %}</p>
                  {% endif %}
                {% endwith %}
              </div>
              <div class="tab-pane streamer_slider" id="D">
                {% with news_list=news_list|from_category:'first_year' %}
                  {% if news_list %}
                    <ul>
                      {% for news in news_list %}
                        <li class="img_descr">
                          <a href="{{ news.get_absolute_url }}">
                            {% thumbnail news.main_image '40x40' crop='center' as im %}
                              <img src="{{ im.url }}" alt="{{ news.title }}">
                            {% endthumbnail %}
                          </a>
                          <p><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></p>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <p>{% trans "No news in this category." %}</p>
                  {% endif %}
                {% endwith %}
              </div>
            </div>
          </div>
      </section>
      <!--end news-->
    </aside>

<!--END right column-->
{% endblock %}

{% block full_width %}
  <div class="container clearfix">
    <!--why_fmf?-->
    <section id="why_fmf" class="bordered main_sect">
      <div class="title_arrow blue">
        <h3 class="title_list">Невпевнений у майбутньому?</h3>
      </div>
      <ul class="numbers-list row-fluid">
        <li class="first span4">
          <div class="numbers-box">
            <i class="icon-cogs fl-l"></i>
            <div class="description">
              <h3>Поступай до нас!</h3>
              <p><b>95%</b> студентів на бюджеті;</p>
              <p><b>+ 20%</b> до звичайної стипендії;</p>
              <p><b>36/60</b> прохідний бал;</p>
              <p>Є питання? Задай прямо <a href="http://fmf.kpi.ua/contacts"><b>ТУТ »</b></a></p>
            </div>
          </div>
        </li>
        <li class="second span4">
          <div class="numbers-box">
            <i class="icon-book fl-l"></i>
            <div class="description">
              <h3>Вчись!</h3>
              <p><a href="http://fmf.kpi.ua/sections/pro-fakultet/spetsalnost/"><b>Найкраща</b></a> технічна освіта в Україні;</p>
              <p><a href="http://fmf.kpi.ua/sections/spvprobtnitstvo/"><b>Співробітництво</b></a> з іноземними університетами;</p>
              <p>Насичене <a href="http://studprofkom.kpi.ua/health"><b>cтудентське життя;</b></a></p>
            </div>
          </div>
        </li>
        <li class="third span4">
          <div class="numbers-box">
            <i class="icon-thumbs-up fl-l"></i>
            <div class="description">
              <h3>Виходь успішною людиною!</h3>
              <p>Тут не потрібно слів.<br/>
                Наші результати:</p>
            </div>
          </div>
          <i class="icon-arrow-down"></i>
        </li>
      </ul>
      <div class="row-fluid feedbacks">
        <div class="span7">
          <div class="feedback-main">
            <div class="feedback-image-main span6" id="feedback-image-main"></div>
            <div id="feedback-description-main" class="span6"></div>
          </div>
        </div>
        <div class="span5">
          <!-- feefbacks -->
          <ul class="feedback thumbnails">
            {% for feedback in feedbacks %}
              <li class="{% if forloop.first %}feedback-active{% else %}feedback{% endif %}">
                <a class="thumbnail" href="#">
                  {% thumbnail feedback.image "95x100" crop="top" as im %}
                    <img src="{{ im.url }}" alt="{{ feedback.name }}">
                  {% endthumbnail %}
                </a>
                <div class="feedback-name" style="display:none;">{{ feedback.name }}</div>
                <div class="feedback-short-description" style="display:none;">{{ feedback.short_description }}</div>
                <div class="feedback-image" style="display:none;">
                  <a href="{% if feedback.content %}{{ feedback.get_absolute_url }}{% else %}#{% endif %}">
                  {% thumbnail feedback.image "220x240" crop="top" as im %}
                    <img src="{{ im.url }}" alt="{{ feedback.name }}">
                  {% endthumbnail %}
                  </a>
                </div>
                <div class="feedback-description" style="display:none;"><p>{{ feedback.description }}</p></div>
              </li>
            {% endfor %}
          </ul>
          <!-- EO feefbacks -->
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/jquery.sudoSlider.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap/bootstrap.min.js"></script>
  <script type="text/javascript">
      // Popovers on feedback previews
      $('.feedback a').each(function(){
          var title = $(this).next('.feedback-name').text();
          var content = $(this).siblings('.feedback-short-description').text();
          $(this).popover({
              'placement': 'top',
              'title': title,
              'content': content
          });
      });
  </script>
{% endblock %}
