<!DOCTYPE HTML>

{% load i18n localeurl_tags chunks %}

<!--[if lt IE 7 ]> <html class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8"> <![endif]-->
<!--[if gte IE 9 ]>    <html class="ie ie9"> <![endif]-->

<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="google-site-verification" content="">
    <meta name="author" content="Vasya&Seroga">
    <meta name="Copyright" content="Copyright V&S 2011. All Rights Reserved.">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!--Styles-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style_sudo.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/fmf.css">
    <!--<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/fmf.less">-->
    <title>
      {% block title %}{% trans "Faculty of Physics and Mathematics" %}{% endblock %}
    </title>
    {% block meta-information %}
      {% chunk "meta_information" %}
    {% endblock %}
    {% block extra-head %}{% endblock %}
  </head>
  <body>
    <div id="page">
      <!--header-->
      <header>
        <!--navigation-->
        <nav class="clearfix">
          {% block nav %}
            {% with 'home' as active %}
              {% include 'core/nav.html' %}
            {% endwith %}
          {% endblock %}
          <div id="lang">
            {% for lang in LANGUAGES %}
              {% ifequal lang.0 LANGUAGE_CODE %}
                <a class="selected" href="#">{{ lang.1 }}</a>
              {% else %}
                <a href="{{ request.path|chlocale:lang.0 }}" title="{{ lang.1 }}">{{ lang.1 }}</a>
              {% endifequal %}
            {% endfor %}
          </div>
        </nav>
        <!--end navigation-->
        {% block logo %}
          <section class="page_info">
            <div class="container">
              {% block breadcrumbs %}
                <span>{% trans "Faculty of Physics and Mathematics" %}</span>
              {% endblock %}
              <img id="logo" src="{{ STATIC_URL }}images/logo.png" alt="hi5">
              <img id="main_logo_bg" src="{{ STATIC_URL }}images/main_logo_bg.png" alt="hi5">
              <div id="electron_1_box"><img id="electron_1" src="{{ STATIC_URL }}images/electron_1.png" alt="electron"></div>
              <div id="electron_2_box"><img id="electron_2" src="{{ STATIC_URL }}images/electron_2.png" alt="electron"></div>
{#              <span class="dev">*Сайт знаходиться на стадії розробки</span>#}
            </div>
          </section>
        {% endblock %}
      </header>
      <!--end header-->

      <article>
        {% block content %}
        {% endblock %}
        <div class="toTop_button">
          <a href="#" class="toTop"></a>
              <!--if eng
                <a href="#" class="toTop eng"></a>
              -->
        </div>
      </article>
    </div>

    <footer>
      <div class="social">
        <a href="#" class="fb"><span>Facebook</span></a>
        <a href="#" class="tw"><span>Twitter</span></a>
        <a href="#" class="vk"><span>Vkontakte</span></a>
      </div>
      <div class="container">
        {% block footer %}
          {% chunk "footer" %}
        {% endblock %}
      </div>
    </footer>
    <div>
      <!--scripts-->
     <!-- <script src="{{ STATIC_URL }}js/less.js"></script>-->
      <script src="{{ STATIC_URL }}js/jquery.js"></script>
      <script src="{{ STATIC_URL }}js/fmf.js"></script>
{#      <script src="{{ STATIC_URL }}js/snowstorm.js"></script>#}
      <script src="{{ STATIC_URL }}js/jquery.circulate.js"></script>
      <script src="{{ STATIC_URL }}js/jquery.easing.1.2.js"></script>
      {% block extra_js %}
      {% endblock %}
      <!--end scripts-->
    </div>
  </body>
</html>
