<!DOCTYPE HTML>

{% load i18n localeurl_tags chunks cache seo_tags %}

<!--[if lt IE 7 ]> <html class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8"> <![endif]-->
<!--[if gte IE 9 ]>    <html class="ie ie9"> <![endif]-->

<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_information %}
      {% cache 500 meta_information LANGUAGE_CODE %}
        <meta name="description" content="{% seo description %}" />
        <meta name="keywords" content="{% seo keywords %}" />
        <meta name="title" content="{% seo title %}">
      {% endcache %}
    {% endblock %}
    <meta name="author" content="Vasya&Seroga">
    <meta name="Copyright" content="Copyright V&S 2012. All Rights Reserved.">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!--Styles-->
    <style type="text/less">
      @import url("{{ STATIC_URL }}less/bootstrap.less");
    </style>
    <style type="text/css">
      @import url("{{ STATIC_URL }}css/reset.css");
      @import url("{{ STATIC_URL }}css/style_sudo.css");
      @import url("{{ STATIC_URL }}css/fmf.css");
      {% block extra_css %}
      {% endblock %}
    </style>
    <script type="text/javascript" src="{{ STATIC_URL }}js/less.js"></script>

    <title>
      {% block title %}{% trans "Faculty of Physics and Mathematics" %}{% endblock %}
    </title>
    {% block extra_head %}{% endblock %}
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30135528-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

  <!--header-->
    <header>
      {% block logo %}
        <div class="container">
          <h1><a class="logo" href="{% url index-view %}">{% trans "Faculty of Physics and Mathematics" %}</a></h1>
        </div>
      {% endblock %}
      <div id="lang">
        {% for lang in LANGUAGES %}
          {% ifequal lang.0 LANGUAGE_CODE %}
            <a class="selected" href="#">{{ lang.1 }}</a>
          {% else %}
            <a href="{{ request.path|chlocale:lang.0 }}" title="{{ lang.1 }}">{{ lang.1 }}</a>
          {% endifequal %}
        {% endfor %}
      </div>
    </header>
  <!--end header-->

  <!--navigation-->
    <nav class="main">
      {% block nav %}
        {% include 'core/nav.html' %}
      {% endblock %}
      <div class="container breadcrumbs">
        {% block breadcrumbs %}
        {% endblock %}
      </div>
    </nav>
  <!--end navigation-->

  {% block aside_left %}
  {% endblock %}

  {% block article %}
    <article>
      <div class="push_top"></div>
      {% block content %}
      {% endblock %}
      <div class="push_bottom"></div>
    </article>
  {% endblock %}

  {% block aside_right %}
  {% endblock %}

  {% block full_width %}
  {% endblock %}

    <footer>
      <div class="social">
        <a href="#" class="fb"><span>Facebook</span></a>
        <a href="#" class="tw"><span>Twitter</span></a>
        <a href="#" class="vk"><span>Vkontakte</span></a>
      </div>
      <div class="container">
        {% block footer %}
          {% cache 500 footer LANGUAGE_CODE %}
            {% chunk "footer" %}
          {% endcache %}
        {% endblock %}
      </div>
      <div class="toTop_button">
        <a href="#" class="toTop {{ LANGUAGE_CODE }}"></a>
      </div>
    </footer>
    <div id="scripts">
      <!--scripts-->
      <script src="{{ STATIC_URL }}js/jquery.js"></script>
      <!--<script src="{{ STATIC_URL }}js/less.js"></script>-->
      <!--<script src="{{ STATIC_URL }}js/snowstorm.js"></script>-->
      <!--<script src="{{ STATIC_URL }}js/jquery.circulate.js"></script>-->
      <!--<script src="{{ STATIC_URL }}js/jquery.easing.1.2.js"></script>-->
      {% block extra_js %}
      {% endblock %}
      <script src="{{ STATIC_URL }}js/jquery.lazyload.js"></script>
      <script src="{{ STATIC_URL }}js/fmf.js"></script>
      <!--end scripts-->
    </div>
  </body>
</html>
