<!DOCTYPE HTML>

{% load i18n localeurl_tags chunks %}

<!--[if lt IE 7 ]> <html class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9"> <![endif]-->

<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="title" content="">
    <meta name="description" content="">
    <!-- Google will often use this as its description of your page/site. Make it good. -->
    <meta name="google-site-verification" content="">
    <!-- Speaking of Google, don't forget to set your site up: http://google.com/webmasters -->
    <meta name="author" content="Vasya&Seroga">
    <meta name="Copyright" content="Copyright V&S 2011. All Rights Reserved.">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/logo.ico">
    <!--[if IE]>
    <!--<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>-->
    <![endif]-->
    <!--<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>-->
    <!--Styles-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style_sudo.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/fmf.css">
    <title>
      {% block title %}{% trans "Faculty of Physics and Mathematics" %}{% endblock %}
    </title>
  </head>
  <body>
    <div id="page">
      <!--header-->
      <header>
          <!--navigation-->
          <nav class="clearfix">
            {% block nav %}
              {% with 'home' as active %}
                {% include 'core/nav.html' %}
              {% endwith %}
            {% endblock %}
            <div id="lang">
              {% for lang in LANGUAGES %}
                {% ifequal lang.0 LANGUAGE_CODE %}
                  <a class="selected" href="#">{{ lang.1 }}</a>
                {% else %}
                  <a href="{{ request.path|chlocale:lang.0 }}" title="{{ lang.1 }}">{{ lang.1 }}</a>
                {% endifequal %}
              {% endfor %}
            </div>
          </nav>
          <div class="clear"></div>
          <!--end navigation-->
          <section class="page_info">
            <div class="container">
              {% block breadcrumbs %}
                <span>{% trans "Faculty of Physics and Mathematics" %}</span>
              {% endblock %}
            </div>
          </section>
      </header>
      <!--end header-->

      <article>
        {% block content %}
        {% endblock %}
      </article>
    </div>

    <footer>
      <a href="#" id="toTop">Вгору</a>
      <div class="social">
        <a href="#" class="vk"></a>
        <a href="#" class="fb"></a>
        <a href="#" class="tw"></a>
      </div>
      <div class="container">
        {% block footer %}
          {% chunk "footer" %}
        {% endblock %}
      </div>
    </footer>
    <div>
      <!--scripts-->
      <script src="{{ STATIC_URL }}js/jquery.js"></script>
      <script src="{{ STATIC_URL }}js/fmf.js"></script>
      {% block extra_js %}
      {% endblock %}
      <!--end scripts-->
    </div>
  </body>
</html>
