{% extends "base.html" %}

{% load thumbnail i18n pagination_tags %}

{% block title %}{% trans "Events" %} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  <span><a href="{% url index-view %}">{% trans "Home" %}</a> ></span>
  <span>{% trans "Events" %}</span>
{% endblock %}

{% block content %}
  <section id="events_list" class="container bordered">
    <ul class="list">
      {% autopaginate events 10 %}
      {% for event in events %}
        <li>
          {% thumbnail event.image "200x150" crop="center" as im %}
            <img src="{{ im.url }}" alt="{{ product.feed.title|title }}" width="{{ im.width }}" height="{{ im.height }}" />
          {% endthumbnail %}
          <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
          <p class="date">
            {% ifequal event.date_from event.date_to %}{{ event.date_from }}
            {% else %}{{ event.date_from }} - {{ event.date_to }}
            {% endifequal %}
          </p>
          {% if event.date %}
            <p class="date">{{ event.date }}</p>
          {% endif %}
          <p class="short_description_large">{{ event.short_description }}</p>
        </li>
      {% endfor %}
    </ul>
    <p class="show_all"><a href="{% url event-list-past %}">{% trans "Past events" %} »</a></p>
  </section>
  <div class="push"></div>
  {% paginate %}
{% endblock %}
