{% extends 'base.html' %}

{% load thumbnail i18n seo_tags cache %}

{% block meta_information %}
  {% cache 500 meta_information LANGUAGE_CODE %}
    <meta name="description" content="{% seo description for event %}" />
    <meta name="keywords" content="{% seo keywords for event %}" />
    <meta name="title" content="{% seo title for event %}">
  {% endcache %}
{% endblock %}

{% block title %}{{ event.title }}{% endblock %}

{% block extra_head %}
  {% include 'includes/social_scripts.html' %}
{% endblock %}

{% block breadcrumbs %}
  <span><a href="{% url index-view %}">{% trans "Home" %}</a> /</span>
  <span><a href="{% url event-list %}">{% trans "Events" %}</a> /</span>
  <h2>{{ event.title }}</h2>
{% endblock %}

{% block content %}
  <section class="container bordered details">
    {% include 'includes/social_html.html' %}
    <p class="title">{{ event.title }}</p>
    {% if event.image %}
      {% thumbnail event.image "250x200" crop="center" as im %}
        <img src="{{ im.url }}" alt="{{ event.title }}" width="{{ im.width }}" height="{{ im.height }}" />
      {% endthumbnail %}
    {% endif %}
    <p class="date">
      {% ifequal event.date_from event.date_to %}{{ event.date_from }}
        {% else %}{{ event.date_from }} - {{ event.date_to }}
      {% endifequal %}
    </p>
    <p class="text">{{ event.description|safe }}</p>
  </section>
{% endblock %}
