{% extends "base.html" %}

{% load thumbnail i18n pagination_tags %}

{% block title %}{% trans "Events" %} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  <span><a href="{% url index-view %}">{% trans "Home" %}</a> ></span>
  <span>{% trans "Past events" %}</span>
{% endblock %}

{% block content %}
  <section id="events" class="container bordered">
    <h2>{% trans "Past events" %}:</h2>
    <ul>
      {% autopaginate events 10 %}
      {% for event in events %}
        <li>
          {% thumbnail event.image "200x150" crop="center" as im %}
            <img src="{{ im.url }}" alt="{{ product.feed.title|title }}" width="{{ im.width }}" height="{{ im.height }}" />
          {% empty %}
            {# TODO Need to add specific image #}
            <img src="http://placehold.it/200x150" alt="{{ product.feed.title|title }}" width="200" height="150">
          {% endthumbnail %}
          <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
          {% if event.date %}
            <p class="date">{{ event.date }}</p>
          {% endif %}
          <p class="short_description_large">{{ event.short_description }}</p>
        </li>
      {% endfor %}
    </ul>
    <p class="show_all"><a href="{% url event-list %}">{% trans "Back to future events" %} »</a></p>
  </section>
  <div class="push"></div>
  {% paginate %}
{% endblock %}
