{% extends 'base.html' %}

{% load thumbnail i18n %}

{% block title %}{{ event.title }}{% endblock %}

{% block breadcrumbs %}
  <span><a href="{% url index-view %}">{% trans "FPM" %}</a> ></span>
  <span><a href="{% url event-list %}">{% trans "Events" %}</a> ></span>
  <span>{{ event.title }}</span>
{% endblock %}

{% block content %}
  <section class="container bordered">
    <p class="title">{{ event.title }}</p>
    <p class="date">{{ event.date }}</p>
    <p class="text">{{ event.description|safe }}</p>
  </section>
{% endblock %}
